
/* html { 
    background: url("./images/Desk.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
body{
    background-color: rgb(231, 226, 226);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: whitesmoke;
    background-color: #484343;
    border: 0px;
    margin: 2px 2PX;
    font-size:14pt;
}
#zero {
    width: 88Px;
    border-radius: 50%;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 20px;
}
.display{
    height: 50px;
    background-color: rgb(4, 2, 2);
    margin-bottom: 0px;
    color: white;
    text-align: end;
}
.display>div{
    padding-top: 10px;
    padding-right: 5px;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}
.calculator{
    background-color: rgb(4, 2, 2);
   padding: 10px;
   border-radius: 25px;
   padding-top: 10px;
   padding-bottom: 40px;
   border: 3px solid #80808080;
   margin-top: 100px;
   box-shadow: 8px 5px 8px 5px rgba(0,0,0,0.5),
   4px 4px 0px 0px rgba(0,0,0,0.5);
}
.side {
    background-color: rgb(233, 143, 25);
}
.top{
    background-color: rgb(148, 148, 146);
    color: rgb(29, 28, 28);
    text-align: center;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  

 
}
.icons>img{
    width:70px;
    padding-top: 0px;
    
}
.time{
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 5px;
}
.footer{
    background-color: white;
    height: 2px;
    width: 33.33%;
    margin-left: 33.33%;
    margin-top: 30px;
    margin-bottom: -28px;
}
.timeOut{
    color: rgb(82, 78, 78);
}
.mainButtonPop{
    background-color: #9e9797;
}
.topPop{
    background-color: whitesmoke;
}
.sideEffect{
    color: rgb(233, 143, 25);
    background-color: white;
}
.image>img{
    width: 200px;
    height: auto;
}
.error{
    height: 406px;
    width: 220px;
}
.siriText{
    width: 190px;
    height: 10px;
    font-size: 6pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
}
.siri>img{
    width: 188px;
    height: auto;
    padding-top: 78px;
}


@media only screen and (max-width: 740px){
    button{
        font-size: 10pt;
    }
    .calculator{
        margin-top: 10px;
   
    }
    .top{
        font-size: 8px;
    }
}